.calculos-submenu{
    width:20rem;
    position:absolute;
    top:95px;
    list-style: none;
    text-align: start;
    
}



.calculos-submenu li{
    background: rgb(0,212,212);
    cursor:pointer;

}

.calculos-submenu li a:hover{
    background: rgb(0,175,175);
}

.calculos-submenu.clicked{
    display :none;
}


.submenu-item{
    display: block;
    width: 100%;
    height:100%;
    text-decoration: none;
    color:white;
    padding:20px;
}

