body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{

  width: 100%;
  height: 100vh;

}

.dropdown{
  width:4009x;
  margin: 0 auto;
  position:relative;

}

.dropdown .dropdown-btn{
  padding: 15px 20px;
  background:#fff;
  box-shadow: 3px 39x 10px 6px rgba(0,0,0,0.06);
  font-weight: bold;
  color: #333;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.dr.dropdown .dropdown-content{
  position:absolute;
  top:110%;
  padding:15px;
  background: #fff;
  box-shadow:3px 39x 10px 6px rgba(0,0,0,0.06);
  font-weight:500;
  color:#333;
}