body{
  background-color: #0090BF;
}
h1{
    text-align: center;
}
#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #contenedor  .div {
    width: 50%;
  }


  .botones{
    background: #007DFF;
  }
  .leftside, .rightside{
      text-align: center;
      height: 75vh;;
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 8%;
      background-color: #0090BF;
  }

  .titulo{
    margin-top: 2%;
    text-align: center;
}

  b{
    font-size:200%;
  }
  strong{
    font-size: 250%;
    text-align: center;
  }

  .leftside{
    background: #0090BF;
  }

  .rightside{
      background: #0090BF;
  }

